// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Anton');
body{
    font-family: "Roboto";
}
page-login{
    text-align: center;
    .scroll-content{
        margin-bottom: 0px;
        padding-top: 30px !important;
    }
    ion-content{
        background-image: url('../../assets/imgs/login-banner.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
        top: 0px;
        padding-top: 20px;
        margin-top: 0px;
    }
    .login-content{
        .logo-row{
            img{
                max-width: 300px;
            }
            p{
                font-size: 22px;
                color: #fff;
                font-weight: 600;
                margin-top: 15px;
                margin-bottom: 0px;
            }
        }
        .login-box{
            width: 470px;
            margin: 0 auto;
            margin-top: 30px;
            background-color: #fff;
            padding: 45px;
            border: 1px solid #e1e1e1;
            box-shadow: 0px 0px 0px #fff;
            border-radius: 5px;
            background-image: url(../assets/imgs/login-bg.png);
            background-position: 215px 30px;
            background-repeat: no-repeat;
            ion-list{
                margin: 0px;
                ion-item{
                    background: transparent;
                }
            }
            h2{
                font-size: 22px;
                color: #000000;
                font-weight: 600;
                text-transform: uppercase;
                text-align: left;
            }
            ion-label{
                font-size: 12px;
                color: #000;
                text-transform: uppercase;
                padding-bottom: 8px;
            }
            .item-inner{
                padding-right: 0px;
                ion-input{
                    border: 1px solid #b7b7b7;
                    border-radius: 2px;
                    input{
                        padding: 13px 10px;
                        margin: 0px;
                        width: 100%;
                    }
                }
            }
            .sign-row{
                .col{
                    padding: 0px;
                }
                .forgot-btn{
                    color: rgba(0,0,0,0.7);
                    font-weight: 500;
                    font-size: 13px;
                    padding: 0px;
                    &:hover{
                        background: transparent;
                    }
                }
                ion-item{
                    padding-left: 0px;
                }
                .signed-in-check{
                    ion-checkbox{
                        margin-right: 5px;
                        margin-left: 0px;
                        margin-top: 0px;
                    }
                    ion-label{
                        text-transform: capitalize;
                        color: rgba(0,0,0,0.7);
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
                .register-btn{
                    padding: 0px;
                }
                .item-inner{
                    border: none;
                }
            }
            .submit-btn{
                background: #f6821f;
                box-shadow: none;
                border-radius: 2px;
                padding: 22px 10px;
                font-size: 18px;
                &:hover{
                    background: rgba(246, 130, 31, 0.8);
                }
                &[disabled]{
                    opacity: 0.6;
                }
            }
        }
    }
    @media only screen and (max-width: 1366px){
        .scroll-content{
            padding-top: 15px !important;
        }
        .login-content {            
            .login-box{
                padding: 25px;
                margin-top: 25px;
            }
            .logo-row{
                img{
                    max-width: 200px;
                }
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .login-content {            
            .login-box{
                width: 90%;
            }
        }
     }
}
page-home{
    ion-header{
        background: rgba(0,0,0,0.5);
        border-bottom: none;
        &:before{
            display: none;
        }
        .nav{
            ul{
                li{
                    a{
                        color: #fff;
                        .arrow{
                            border-color: #fff;
                        }
                    }
                }
            }
        }
    }
    ion-content{
        margin-top: 0px;
        .home-banner{
            background-image: url(../assets/imgs/home-banner.jpg);
            background-size: cover;
            height: 600px;
            &>.container{
                position: relative;
                height: 100%;
            }
            .home-text{
                position: absolute;
                top: 50%;
                left: -50px;;
                h2{
                    font-size: 70px;
                    font-family: 'Anton', sans-serif;
                    color: #fff;
                    text-transform: uppercase;
                    -webkit-text-stroke: 2px #fb612e;
                    font-style: italic;
                    letter-spacing: -2px;
                    line-height: 0.7;
                    &.text-orange{
                        color: #fb612e;
                        -webkit-text-stroke: 2px #FFF;
                        margin-left: 75px;
                    }
                }
            }
            img{
                position: absolute;
                right: -15%;
                bottom: 0px;
                max-width: 700px;
            }
        }
    }
    .scroll-content{
        margin-bottom: 60px;
    }
}
page-dashboard-list{
    ion-content{
        .page-title{
            padding: 15px 0px;
            padding-bottom: 0px;
            margin-bottom: 0px !important;
            border-bottom: none;
        }
    }
}
page-booth-list, page-shakti-kendra-list{
    .scroll-content{
        margin-bottom: 140px;
    }
    ion-content{
        .page-title{
            padding: 15px 0px;
        }
    }
}

page-add-booth{
    ion-content{
        margin-top: 84px;
        .scroll-content{
            margin-bottom: 140px;
            .btn-group{
                margin-bottom: 15px;
            }
            .bjp-btn{
                width: 120px;
                font-size: 16px;
                padding: 18px 15px;
                border-radius: 2px;
            }
        }
    }
}

page-add-sk{
    .btn-group{
        margin-bottom: 15px;
    }
    .bjp-btn{
        padding: 18px 15px;
        font-size: 16px;
        min-width: 120px;
        border-radius: 2px;
    }
}

page-booth-samiti-report, page-shakti-kendra-report{
    ion-content{
        .page-title{
            padding: 15px 0px;
            padding-bottom: 0px;
            margin-bottom: 0px !important;
            border-bottom: none;
        }
        .list-cmt{
            .list-single{
                ul{
                    li{
                        width: 20%;
                    }
                }
            }
            &.general-report{
                .list-single{
                    ul{
                        li{
                            width: 12.5%;
                        }
                    }
                }
            }
            &.general-report-full{
                .list-single{
                    ul{
                        li{
                            width: 16.5%;
                            &:nth-child(1n+7){
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .seg-tabs {
        ion-toolbar{
            ion-segment{
                ion-segment-button{
                    width: 150px !important;
                }
            }
        }
    }
}

.seg-tabs{
    ion-toolbar{
        padding: 0px !important;
        .toolbar-background-md{
            background: transparent;
        }
        ion-segment{
            float: left;
            width: 100%;
            display: block;
            ion-segment-button{
                width: 200px !important;
                float: left;
                font-size: 15px !important;
                text-transform: capitalize !important;
                border-bottom: none !important;
                color: rgba(0,0,0,0.6) !important;
                &.segment-activated{
                    color: #f6821f !important;
                    border: 1px solid #ccc !important;
                    border-bottom: none !important;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 200px;
                        background: #fff;
                        bottom: 1px;
                        left: 0px;
                        z-index: 99;
                    }
                }
            }
            &:after{
                content: '';
                position: absolute;
                left: 0px;
                bottom: -10px;
                width: 100%;
                height: 18px;
                border-top: 1px solid #ccc;
                background: #fff;
            }
        }
    }
}
.booth-list{
    display: flex;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    .list-cmt{
        flex: 1;
        .list-single{
            margin-bottom: 0px;
            border: none;
            li:nth-child(1n+7){
                margin-top: 20px;
            }
        }
    }
    .booth-action{
        width: 150px;
        text-align: center;
        padding-top: 20px;
        border-left: 1px dashed #e1e1e1;
        .button{
            display: block;
            margin: 8px auto;
            width: 100px;
        }
    }
}
.booth-form{
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 15px;
    &+.booth-form{
        margin-top: 20px;
    }
    .sub-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    label{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 5px;
        display: block;
        span{
            text-transform: initial;
        }
    }
    ion-select{
        max-width: 100%;
        border: 1px solid #b7b7b7;
        border-radius: 2px;
        padding: 9px 8px 9px 10px;
    }
    ion-input{
        input{
            margin: 0px;
            border: 1px solid #b7b7b7;
            padding: 10px 10px;
            width: 100%;
        }
    }
    .grid{
        padding: 0px;
        .row{
            margin: 0 -15px;
            margin-bottom: 20px;
            .col{
                padding: 5px 15px;
            }
        }
    }
}
.text-right{
    text-align: right;
}
.button{
    margin: 0px;
    box-shadow: none;
    text-transform: capitalize;
}
.button + .button{
    margin-left: 5px;
}
.bjp-btn{
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 5px 15px;
}
.grey-btn{
    background: transparent;
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    img{
        opacity: 0.6;
        margin-right: 5px;
        width: 20px;
    }
    &:hover{
        background: transparent !important;
    }
}
.red-btn{
    background: #ff5f5f;
    border: 1px solid #db3535;
}
.dark-grey-btn{
    background: #8b8b8b;
    border: 1px solid #737373;
}
.orange-btn{
    background: #f6821f;
    border: 1px solid #f6821f;
    &:hover{
        background: rgba(246, 130, 31, 0.8) !important;
    }
}
.page-title{
    padding: 30px 0px;
    margin-bottom: 30px !important;
    border-bottom: 1px solid #bac3ca;
    h2{
        font-size: 22px;
        color: #000000;
        margin: 0px !important;
        text-transform: capitalize;
    }
}
.sub-title{
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
    a{
        color: #f6821f;
        float: right;
        text-decoration: none;
    }
}
.list-cmt{
    .list-single{
        padding: 15px;
        border: 1px solid #e1e1e1;
        float: left;
        width: 100%;
        margin-bottom: 15px;
        ul{
            padding: 0px;
            float: left;
            width: 100%;
            margin: 0px;
            li{
                float: left;
                list-style: none;
                width: 16.5%;
                text-transform: capitalize;
                label{
                    margin-bottom: 10px;
                    display: block;
                    color: rgba(0,0,0,0.5);
                    font-size: 13px;
                }
                p{
                    margin: 0px;
                    font-size: 16px;
                }
            }
        }
    }
    &.district-wise{
        .list-single{
            ul{
                li{
                    width: 20%;
                }
            }
        }
    }
}
.logo-orange{
    background: #f6821f;
}
.text-input{
    outline: none;
}
.scroll-content{
    overflow: auto;
    padding: 0px !important;
    margin-bottom: 140px;
}
.container{
    margin: 0 auto;
    width: 1170px;
}
ion-header{
    background: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    ion-navbar{
        display: contents !important;
    }
    &:before{
        content: '';
        position: absolute;
        height: 100%;
        width: 42%;
        background-color: #f6821f;
        transform: skew(20deg);
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        left: -30px;
        border-right: 5px solid #00a651;
    }
    &:after{
        background: none !important;
    }
    .toolbar-background-md{
        background: transparent;
        border-color: transparent;
    }
    .nav{
        text-align: right;
        ul{
            li{
                display: inline;
                padding: 0 15px;
                position: relative;
                a{
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #000;
                    text-decoration: none;
                    padding: 35px 0px;
                    position: relative;
                    &:hover, &.active{
                        &:after{
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 100%;
                            background: #f6821f;
                            bottom: 3px;
                            left: 0;;
                        }
                    }
                    .arrow{
                        border: solid #000;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 3px;
                        vertical-align: middle;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        position: relative;
                        top: -3px;
                        right: -2px;
                    }
                }
                &:last-child{
                    .sub-nav{
                        right: 0px;
                        left: auto;
                        width: 150px;
                    }
                }
                .sub-nav{
                    position: absolute;
                    left: 15px;
                    top: 47px;
                    width: 200px;
                    text-align: left;
                    margin: 0px;
                    padding: 0px;
                    background: #fff;
                    border-top: 2px solid #f6821f;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
                    display: none;
                    li{
                        display: block;
                        a{
                            color: #000;
                            padding: 10px 5px;
                            display: block;
                            text-transform: capitalize;
                            &:hover, &.active{
                                &:after{
                                   display: none;
                                }
                            }
                        }
                    }
                }
                &.has-submenu{
                    a{
                        &:hover, &.active{
                            &:after{
                               display: none;
                            }
                        }   
                    }
                }
                &.active{
                    a{
                        & + .sub-nav{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
ion-menu{
    ion-list{
        ion-label{
            text-transform: capitalize;
        }
    }
}
ion-content{
    margin-top: 75px;
    .fixed-content, .scroll-content{
        margin-top: 0px !important;
    }
}

ion-footer{
    text-align: center;
    padding: 20px 0px;
    background: #ebebeb;
    border-top: 1px solid rgba(0,0,0,0.4);
    ul{
        margin: 0px;
        li{
            font-size: 16px;
            color: rgba(0,0,0,0.7);
            display: inline;
            position: relative;
            a{
                color: rgba(0,0,0,0.7);
                text-transform: capitalize;
                text-decoration: none;
            }
        }
    }
}

// media query starts
@media only screen and (min-width: 1600px){
    ion-header{
        &:before{
            width: 40%;
        }
    }
}
@media only screen and (min-width: 1366px){
    page-home{
        // ion-header{
        // }
        ion-content{
            .home-banner{
                .home-text{
                    h2{

                    }
                }
                img{
                   right: -80px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    page-home{
        // ion-header{
        // }
        ion-content{
            .home-banner{
                .home-text{
                    left: 0px;
                }
                img{
                   right: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px){
    .container{
        width: 970px;
    }
}

@media only screen and (min-width: 991px){
    ion-header{
        .show-back-button{
            display: none !important;
        }
    }
    // .scroll-content{
    //     margin-top: 0px !important
    // }
}