<page-header></page-header>

<ion-content padding>
    <div class="container">
       <div class="page-title">
         <h2>booth committee entry form</h2>
       </div>
       <div class="booth-form">
          <h3 class="sub-title">booth details</h3>
          <ion-grid>
              <ion-row>
                <ion-col>
                    <label for="">state</label>
                    <ion-select [(ngModel)]="boothData.state" interface="popover">
                        <ion-option *ngFor="let state of states" (ionSelect)="getDistricts()" [value]="state.id">{{state.name}}</ion-option>
                      </ion-select>
                </ion-col>
                <ion-col>
                    <label for="">District</label>
                    <ion-select [(ngModel)]="boothData.district" interface="popover">
                      <ion-option *ngFor="let dis of districts" (ionSelect)="getAssemblies()" [value]="dis.id">{{dis.name}}</ion-option>
                    </ion-select>
                  </ion-col>
              <ion-col>
                <label for="">Assembly</label>
                <ion-select [(ngModel)]="boothData.assembly" interface="popover">
                    <ion-option *ngFor="let assembly of assemblies" (ionSelect)="getMandalas()" [value]="assembly.id">{{assembly.name}}</ion-option>
                </ion-select>
            </ion-col>
            <ion-col>
                <label for="">Mandala</label>
                <ion-select [(ngModel)]="boothData.mandala" interface="popover">
                    <ion-option *ngFor="let mandal of mandals" (ionSelect)="getBooths()" [value]="mandal.id">{{mandal.name}}</ion-option>
                </ion-select>
            </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-3>
                      <label for="">Booth number</label>
                      <ion-select [(ngModel)]="boothData.boothNumber" interface="popover">
                        <ion-option *ngFor="let booth of boothNumbers" [value]="booth.id">{{booth.boothNo}}</ion-option>
                      </ion-select>
                  </ion-col>
                </ion-row>
            </ion-grid>
       </div>

       <div class="booth-form">
          <h3 class="sub-title">basic information</h3>
          <ion-grid>
              <ion-row>
                <ion-col>
                    <label for="">full name</label>
                    <ion-input [(ngModel)]="boothData.fullName" placeholder="" type="text"></ion-input>
                </ion-col>
                <ion-col>
                    <label for="">mobile number</label>
                    <ion-input [(ngModel)]="boothData.mobile" placeholder="" type="text"></ion-input>
                </ion-col>
                <ion-col>
                    <label for="">membership number</label>
                    <ion-input [(ngModel)]="boothData.membershipNumber" placeholder="" type="text"></ion-input>
                </ion-col>
                <ion-col>
                    <label for="">gender</label>
                    <ion-select [(ngModel)]="boothData.gender" interface="popover">
                      <ion-option value="male">male</ion-option>
                      <ion-option value="female">female</ion-option>
                    </ion-select>
                </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col>
                      <label for="">e-mail id</label>
                      <ion-input [(ngModel)]="boothData.email" placeholder="" type="text"></ion-input>
                  </ion-col>
                  <ion-col>
                      <label for="">epic number</label>
                      <ion-input [(ngModel)]="boothData.epicNumber" placeholder="" type="text"></ion-input>
                  </ion-col>
                  <ion-col>
                      <label for="">my responsibility</label>
                      <ion-select [(ngModel)]="boothData.myResponsibility" interface="popover">
                        <ion-option value="a">1</ion-option>
                        <ion-option value="b">2</ion-option>
                      </ion-select>
                  </ion-col>
                  <ion-col>
                      <label for="">incharge</label>
                      <ion-select [(ngModel)]="boothData.incharge" interface="popover">
                        <ion-option value="a">1</ion-option>
                        <ion-option value="b">2</ion-option>
                      </ion-select>
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-3>
                        <label for="">bike status</label>
                        <ion-select [(ngModel)]="boothData.bikeStatus" interface="popover">
                            <ion-option value="a">1</ion-option>
                            <ion-option value="b">2</ion-option>
                          </ion-select>
                    </ion-col>
                    <ion-col col-6>
                        <label for="">address</label>
                        <ion-input [(ngModel)]="boothData.address" placeholder="" type="text"></ion-input>
                    </ion-col>
                    <ion-col col-3>
                        <label for="">pincode</label>
                        <ion-input [(ngModel)]="boothData.pincode" placeholder="" type="text"></ion-input>
                    </ion-col>
                  </ion-row>
              
            </ion-grid>
       </div>

       <div class="booth-form">
          <h3 class="sub-title">other information</h3>
          <ion-grid>
              <ion-row>
                <ion-col>
                    <label for="">category</label>
                    <ion-select [(ngModel)]="boothData.category" interface="popover">
                      <ion-option value="a">1</ion-option>
                      <ion-option value="b">3</ion-option>
                      <ion-option value="c">2</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col>
                    <label for="">caste</label>
                    <ion-input [(ngModel)]="boothData.caste" placeholder="" type="text"></ion-input>
                  </ion-col>
              <ion-col>
                  <label for="">whatsapp number</label>
                  <ion-input [(ngModel)]="boothData.whatsAppNumber" placeholder="" type="text"></ion-input>
                </ion-col>
            <ion-col>
                <label for="">education</label>
                <ion-select [(ngModel)]="boothData.education" interface="popover">
                  <ion-option value="a">1</ion-option>
                  <ion-option value="b">2</ion-option>
                  <ion-option value="c">3</ion-option>
                </ion-select>
            </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-3>
                      <label for="">profession</label>
                      <ion-select [(ngModel)]="boothData.profession" interface="popover">
                        <ion-option value="a">1</ion-option>
                        <ion-option value="b">2</ion-option>
                        <ion-option value="c">3</ion-option>
                      </ion-select>
                  </ion-col>
                </ion-row>
            </ion-grid>
       </div>

       <div class="booth-form">
          <h3 class="sub-title">other information</h3>
          <ion-grid>
              <ion-row>
                <ion-col>
                    <label for="">assembly constituency</label>
                    <ion-input [(ngModel)]="boothData.assemblyConstituency" placeholder="" type="text"></ion-input>
                  </ion-col>
              
            <ion-col>
                <label for="">parent booth</label>
                <ion-select [(ngModel)]="boothData.parentBooth" interface="popover">
                  <ion-option value="a">1</ion-option>
                  <ion-option value="b">2</ion-option>
                  <ion-option value="c">3</ion-option>
                </ion-select>
            </ion-col>
              </ion-row>
            </ion-grid>
       </div>

       <div class="btn-group">
          <button ion-button class="bjp-btn orange-btn" (click)="saveBooth()">save</button>
          <button ion-button class="bjp-btn grey-btn" (click)="view()">close</button>
       </div>
    </div>
</ion-content>

<page-footer></page-footer>